.jumbotron {
  margin-bottom: 0;
  background-image: url(computer2.jpg);
  background-size: cover;
  border-radius: 0;
  min-height: 300px;
  color: #FFF;
  text-shadow: 2px 2px 3px #000;
}
.jumbotron h1 {
  font-size: 3em;
}
.jumbotron p {
  font-size: 1.25em;
}
.navbar {
  margin-bottom: 1.5em;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #F442E8;
}
.dropdown-item {
  color: #FFF;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
  color: #F442E8;
  background-color: #343A40;
}
